/*==== RESET ==== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ==== TYPOGRAPHY ==== */
body {
  font-size: 13px;
}

/* ==== VARIABLES ==== */
:root {
  /* COLORS */
  --prim-purple-50: hsl(260, 100%, 95%);
  --prim-purple-300: hsl(264, 82%, 80%);
  --prim-purple: hsl(263, 55%, 52%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey-100: hsl(214, 17%, 92%);
  --neutral-grey-200: hsl(0, 0%, 81%);
  --neutral-grey-400: hsl(224, 10%, 45%);
  --neutral-grey-500: hsl(217, 19%, 35%);
  --neutral-dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

/* ==== BASE STYLES ==== */

body {
  background-color: var(--neutral-grey-100);
}

.bg-color-white {
  background-color: var(--neutral-white);
  color: var(--neutral-grey-500);
}
.bg-color-purple {
  background-color: var(--prim-purple);
}
.bg-color-purple h2,
.bg-color-dark h2,
.bg-color-grey h2 {
  color: var(--neutral-grey-100);
}

.grey-text {
  color: var(--neutral-grey-200);
}

.bg-color-grey {
  background-color: var(--neutral-grey-500);
}
.bg-color-dark {
  background-color: var(--neutral-dark-blue);
}

article {
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.profile {
  padding: 0;
  display: flex;
  gap: 20px;
  max-width: 70%;
  align-items: center;
}

.name,
.status {
  margin: 0;
}

img {
  border-radius: 50%;
  max-width: 35px;
  border: 2px solid var(--prim-purple-300);
}

.attribution {
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: var(--prim-purple);
}

/* ==== MEDIA QUERIES ==== */

@media (min-width: 1024px) {
  main {
    margin: 200px auto;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
  }

  article {
    margin: 0;
    padding-bottom: 20px;
  }
  .profile {
    max-width: 100%;
  }

  .review {
    margin-bottom: 0;
  }
  .first {
    grid-column: 1/3;
    background-image: url(images/bg-pattern-quotation.svg);
    background-position: right 40px top 0;
    background-repeat: no-repeat;
  }
  .fifth {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .fourth {
    grid-column: 2/4;
  }
}
